/* header-secton */
.bg-color-header{
    background: #264653;
}
.btn-style{
    background: #E76F51;
    color: aliceblue;
    padding: 10px 45px;
}

.header-image img{
    width: 100%
}

/* main-section */
/* feature-section */
.text-orange{
    color: #E76F51;
}
.feature-image{
    filter: grayscale(100%);
}

/* clients-container */
.star-fill{
    color: #E77C40;;
}

/* favourite brands */
.bg-orange{
    background-color: #E76F51;
}