/* header-secton */
.bg-color-header{
    background: #264653;
}
.btn-style{
    background: #E76F51;
    color: aliceblue;
    padding: 10px 45px;
}

.header-image img{
    width: 100%
}

/* main-section */
/* feature-section */
.feature-section{
    background: #E5E5E5;
}

/* .feature-section span{

} */

.feature-text-color{
    color: #E76F51;
}